*{
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}
.container {
  margin: 0 auto;
  width: 800px;
  height: 200px;
  /* background-color: blue; */
}
.left {
  width: 80%;
  height: 100%;
  /* background-color: rgb(28, 48, 65); */
  float: left;
  padding: 10px;
}
.right {
  width: 20%;
  height: 100%;
  /* background-color: red; */
  float: left; 
}
.top {
  height:30%; 
  /* background-color: green;   */
}
.bottom {
  /* background-color: yellow; */
  height: 65%; 
  margin-top: 10px
}