* {
  margin: 0; 
  box-sizing: border-box;
}
.container{
  margin: 0 auto; 
  width: 80vw; 
 
  background-color: rgb(169, 169, 192);
  margin-top: 50px;
  height: 200px; 
  align-items: center;
  display:flex; 
  justify-content: space-evenly;
}
.shipping {
  background-color: beige;
}
.service {
  background-color: aqua;
}
.coupons {
  background-color: azure;
}
.products {
  background-color: aqua;
}
.container p {
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .container {
    flex-wrap:wrap;

  }
  

}
@media screen and (max-width: 768px) {
  .container {
    display: block;
    text-align: center;
  }
  .container div {
    margin-top: 20px;
  }
}